* {
	box-sizing: border-box !important;
}

.navbar-form {
	margin-bottom: 0px !important;
	margin-left: 30px !important;
	padding: 0px !important;
}

.navbar-header {
	margin-left: 20px;
}

.navbar {
	margin-bottom: 15px;
	font-size: 15px !important;
	line-height: 1.42857143 !important;
	background-color: #f01a48 !important;
}

.nav {
	margin-right: 20px !important;
}

.form-control {
	height: 33px !important;
	margin: 5px !important;
}

.dropdown-menu {
	background-color: #f01a48 !important;
	color: black !important;
}

.bg {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	height: 600px;
}

.container_login {
	position: absolute;
	top: 10%;
	right: 30%;
	width: 40%;
	height: 80%;
}

.text_login {
	color: white;
	font-size: 30px;
}

.text_signup {
	color: white;
	font-size: 30px;
}

.text_login_form, .text_signup_form {
	color: white;
	font-size: 15px;
}

.background_signup {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	height: 600px;
}

.container_signup {
	position: absolute;
	top: 5%;
	right: 20%;
	width: 50%;
	height: 50%;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 5px;
	margin: 5px 0px;
	border: none;
	background: white;
	height: 30px;
}

select {
	width: 100%;
	padding: 5px;
	margin: 5px 0px;
	border: none;
	background: white;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

.btn_login, .btn_signup {
	background-color: #04AA6D;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.btn_cancel {
	background-color: orange;
	color: white;
	padding: 5px 5px;
	border: none;
	cursor: pointer;
	width: 100%;
}

.forgot_pw {
	margin-left: 20%;
}

.btn_login:hover {
	opacity: 1;
}






.footer {
	background-color: #f01a48;
	font-weight: bold;
	color: white;
	margin: 0px;
}

.info, .contact {
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}

.fo, .he {
	padding: 0px !important;
	margin: 0px !important;
}

.lefmenu {
	background-color: gray;
	height: 100%;
}

.logo {
	text-align: center !important;
	font-family: 'Segoe Script';
	font-size: 35px !important;
}

.bo {
	height: 500px;
}

.align-items-start {
	width: 100%;
	margin: 0px !important;
	padding: 0px !important;
}

.col-sm-10, .col-sm-2 {
	margin: 0px !important;
	padding: 0px !important;
}

.nav-pills {
	width: 100%;
	margin: 0px !important;
	padding: 0px !important;
}

.nav-link {
	color: white !important;
	font-size: 22px !important;
}

.f-right {
	float: right !important;
	margin-top: 8px;
}

a {
	color: white !important;
	font-weight: normal;
}

a:hover {
	color: #fafe41 !important;
}

.alert-danger, .alert{
	height: 30px !important;
	font-size: 50px !important;
	border-style: solid;
	background-color: none !important;
	
}